/*
 * Copyright (C) 2013 Texas Instruments Incorporated - http://www.ti.com/
 *
 * Author: Ruslan Bilovol <ruslan.bilovol@ti.com>
 *
 * based on omap4-sdp.dts
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */
/dts-v1/;

/include/ "omap4.dtsi"
/include/ "elpida_ecb240abacn.dtsi"

/ {
	model = "TI OMAP4 Blaze Tablet";
	compatible = "ti,omap4-blazetablet", "ti,omap4430", "ti,omap4";

	chosen {
		bootargs = "console=ttyO2,115200n8 androidboot.console=ttyO2 omap_wdt.timer_margin=30 vmalloc=496M";
	};

	memory {
		device_type = "memory";
		reg = <0x80000000 0x40000000>; /* 1 GB */
	};

	vdd_eth: fixedregulator-vdd-eth {
		compatible = "regulator-fixed";
		regulator-name = "VDD_ETH";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		gpio = <&gpio2 16 0>;  /* gpio line 48 */
		enable-active-high;
		regulator-boot-on;
	};

	vbat: fixedregulator-vbat {
		compatible = "regulator-fixed";
		regulator-name = "VBAT";
		regulator-min-microvolt = <3750000>;
		regulator-max-microvolt = <3750000>;
		regulator-boot-on;
	};

	gpio_keys {
		compatible = "gpio-keys";

		volume_up {
			label = "volume-up";
			linux,code = <115>;	/* KEY_VOLUMEUP */
			gpios = <&gpio2 11 0>;	/* 43 */
			gpio-key,wakeup;
		};

		home {
			label = "home";
			linux,code = <102>;	/* KEY_HOME */
			gpios = <&gpio2 14 0>;	/* 46 */
			gpio-key,wakeup;
		};

		volume_down {
			label = "volume-down";
			linux,code = <114>;	/* KEY_VOLUMEDOWN */
			gpios = <&gpio2 15 0>;	/* 47 */
			gpio-key,wakeup;
		};
	};

	leds {
		compatible = "gpio-leds";

		debug2 {
			label = "omap4:green:debug2";
			gpios = <&gpio6 13 0>; /* 173 */
		};

		debug4 {
			label = "omap4:green:debug4";
			gpios = <&gpio2 18 0>; /* 50 */
		};

		user1 {
			label = "omap4:blue:user";
			gpios = <&gpio6 9 0>; /* 169 */
		};

		user2 {
			label = "omap4:red:user";
			gpios = <&gpio6 10 0>; /* 170 */
		};

		user3 {
			label = "omap4:green:user";
			gpios = <&gpio6 14 0>; /* 174 */
		};
	};

	sound {
		compatible = "ti,abe-twl6040";
		ti,model = "BlazeTablet";

		ti,jack-detection = <1>;
		ti,mclk-freq = <38400000>;

		ti,mcpdm = <&mcpdm>;
		ti,dmic = <&dmic>;

		ti,twl6040 = <&twl6040>;

		/* Audio routing */
		ti,audio-routing =
			"Headset Stereophone", "HSOL",
			"Headset Stereophone", "HSOR",
			"Ext Spk", "HFL",
			"Ext Spk", "HFR",
			"Line Out", "AUXL",
			"Line Out", "AUXR",
			"Vibrator", "VIBRAL",
			"Vibrator", "VIBRAR",
			"HSMIC", "Headset Mic",
			"Headset Mic", "Headset Mic Bias",
			"MAINMIC", "Main Handset Mic",
			"Main Handset Mic", "Main Mic Bias",
			"SUBMIC", "Sub Handset Mic",
			"Sub Handset Mic", "Main Mic Bias",
			"AFML", "Line In",
			"AFMR", "Line In",
			"DMic", "Digital Mic",
			"Digital Mic", "Digital Mic1 Bias";
	};
};

&omap4_pmx_core {
	pinctrl-names = "default";
	pinctrl-0 = <
			&twl6040_pins
			&mcpdm_pins
			&dmic_pins
			&mcbsp1_pins
			&mcbsp2_pins
			&dss_hdmi_pins
			&tpd12s015_pins
			&gpio_keys_pins
			&leds_pins
	>;

	gpio_keys_pins: pinmux_gpio_keys_pins {
		pinctrl-single,pins = <
			0x26 0x11B	/* gpmc_a19.gpio_43 INPUT_PULLUP | MODE3 */
			0x2C 0x11B	/* gpmc_a22.gpio_46 INPUT_PULLUP | MODE3 */
			0x2E 0x11B	/* gpmc_a22.gpio_47 INPUT_PULLUP | MODE3 */
		>;
	};

	leds_pins: pinmux_led_pins {
		pinctrl-single,pins = <
			0x34 0x3	/* gpmc_ncs0.gpio_50 OUTPUT | MODE3 */
			0x138 0x3	/* usbb2_hsic_data.gpio_169 OUTPUT | MODE3 */
			0x13a 0x3	/* usbb2_hsic_strobe.gpio_170 OUTPUT | MODE3 */
			0x140 0x3	/* kpd_col5.gpio_173 OUTPUT | MODE3 */
			0x142 0x3	/* kpd_col5.gpio_174 OUTPUT | MODE3 */
		>;
	};

	uart2_pins: pinmux_uart2_pins {
		pinctrl-single,pins = <
			0xd8 0x118	/* uart2_cts.uart2_cts INPUT_PULLUP | MODE0 */
			0xda 0		/* uart2_rts.uart2_rts OUTPUT | MODE0 */
			0xdc 0x118	/* uart2_rx.uart2_rx INPUT_PULLUP | MODE0 */
			0xde 0		/* uart2_tx.uart2_tx OUTPUT | MODE0 */
		>;
	};

	uart3_pins: pinmux_uart3_pins {
		pinctrl-single,pins = <
			0x100 0x118	/* uart3_cts_rctx.uart3_cts_rctx INPUT_PULLUP | MODE0 */
			0x102 0		/* uart3_rts_sd.uart3_rts_sd OUTPUT | MODE0 */
			0x104 0x100	/* uart3_rx_irrx.uart3_rx_irrx INPUT | MODE0 */
			0x106 0		/* uart3_tx_irtx.uart3_tx_irtx OUTPUT | MODE0 */
		>;
	};

	uart4_pins: pinmux_uart4_pins {
		pinctrl-single,pins = <
			0x11c 0x100	/* uart4_rx.uart4_rx INPUT | MODE0 */
			0x11e 0		/* uart4_tx.uart4_tx OUTPUT | MODE0 */
		>;
	};

	twl6040_pins: pinmux_twl6040_pins {
		pinctrl-single,pins = <
			0xe0 0x3	/* hdq_sio.gpio_127 OUTPUT | MODE3 */
			0x160 0x100	/* sys_nirq2.sys_nirq2 INPUT | MODE0 */
		>;
	};

	mcpdm_pins: pinmux_mcpdm_pins {
		pinctrl-single,pins = <
			0xc6 0x108	/* abe_pdm_ul_data.abe_pdm_ul_data INPUT PULLDOWN | MODE0 */
			0xc8 0x108	/* abe_pdm_dl_data.abe_pdm_dl_data INPUT PULLDOWN | MODE0 */
			0xca 0x118	/* abe_pdm_frame.abe_pdm_frame INPUT PULLUP | MODE0 */
			0xcc 0x108	/* abe_pdm_lb_clk.abe_pdm_lb_clk INPUT PULLDOWN | MODE0 */
			0xce 0x108	/* abe_clks.abe_clks INPUT PULLDOWN | MODE0 */
		>;
	};

	dmic_pins: pinmux_dmic_pins {
		pinctrl-single,pins = <
			0xd0 0		/* abe_dmic_clk1.abe_dmic_clk1 OUTPUT | MODE0 */
			0xd2 0x100	/* abe_dmic_din1.abe_dmic_din1 INPUT | MODE0 */
			0xd4 0x100	/* abe_dmic_din2.abe_dmic_din2 INPUT | MODE0 */
			0xd6 0x100	/* abe_dmic_din3.abe_dmic_din3 INPUT | MODE0 */
		>;
	};

	mcbsp1_pins: pinmux_mcbsp1_pins {
		pinctrl-single,pins = <
			0xbe 0x100	/* abe_mcbsp1_clkx.abe_mcbsp1_clkx INPUT | MODE0 */
			0xc0 0x108	/* abe_mcbsp1_dr.abe_mcbsp1_dr INPUT PULLDOWN | MODE0 */
			0xc2 0x8	/* abe_mcbsp1_dx.abe_mcbsp1_dx OUTPUT PULLDOWN | MODE0 */
			0xc4 0x100	/* abe_mcbsp1_fsx.abe_mcbsp1_fsx INPUT | MODE0 */
		>;
	};

	mcbsp2_pins: pinmux_mcbsp2_pins {
		pinctrl-single,pins = <
			0xb6 0x100	/* abe_mcbsp2_clkx.abe_mcbsp2_clkx INPUT | MODE0 */
			0xb8 0x108	/* abe_mcbsp2_dr.abe_mcbsp2_dr INPUT PULLDOWN | MODE0 */
			0xba 0x8	/* abe_mcbsp2_dx.abe_mcbsp2_dx OUTPUT PULLDOWN | MODE0 */
			0xbc 0x100	/* abe_mcbsp2_fsx.abe_mcbsp2_fsx INPUT | MODE0 */
		>;
	};

	dss_hdmi_pins: pinmux_dss_hdmi_pins {
		pinctrl-single,pins = <
			0x5a 0x118	/* hdmi_cec.hdmi_cec INPUT PULLUP | MODE 0 */
			0x5c 0x118	/* hdmi_scl.hdmi_scl INPUT PULLUP | MODE 0 */
			0x5e 0x118	/* hdmi_sda.hdmi_sda INPUT PULLUP | MODE 0 */
		>;
	};

	tpd12s015_pins: pinmux_tpd12s015_pins {
		pinctrl-single,pins = <
			0x22 0x3	/* gpmc_a17.gpio_41 OUTPUT | MODE3 */
			0x48 0x3	/* gpmc_nbe1.gpio_60 OUTPUT | MODE3 */
			0x58 0x10b	/* hdmi_hpd.gpio_63 INPUT PULLDOWN | MODE3 */
		>;
	};
};

&omap4_pmx_wkup	{
	pinctrl-names = "default";
	pinctrl-0 = <
			&dss_dsi_panel_pins
	>;

	dss_dsi_panel_pins: pinmux_dss_dsi_panel_pins {
		pinctrl-single,pins = <
			0x1C 0x118	/* fref_clk4_out.fref_clk4_out INPUT_PULLUP | MODE0 */
		>;
	};
};

&i2c1 {
	clock-frequency = <400000>;

	twl: twl@48 {
		compatible = "ti,twl6030";
		reg = <0x48>;
		/* SPI = 0, IRQ# = 7, 4 = active high level-sensitive */
		interrupts = <0 7 4>; /* IRQ_SYS_1N cascaded to gic */
		interrupt-parent = <&gic>;
	};

	twl6040: twl@4b {
		compatible = "ti,twl6040";
		reg = <0x4b>;
		/* SPI = 0, IRQ# = 119, 4 = active high level-sensitive */
		interrupts = <0 119 4>; /* IRQ_SYS_2N cascaded to gic */
		interrupt-parent = <&gic>;
		ti,audpwron-gpio = <&gpio4 31 0>;  /* gpio line 127 */

		vio-supply = <&v1v8>;
		v2v1-supply = <&v2v1>;
		enable-active-high;

		/* regulators for vibra motor */
		vddvibl-supply = <&vbat>;
		vddvibr-supply = <&vbat>;

		vibra {
			/* Vibra driver, motor resistance parameters */
			ti,vibldrv-res = <8>;
			ti,vibrdrv-res = <3>;
			ti,viblmotor-res = <10>;
			ti,vibrmotor-res = <10>;
			ti,vddvibl-uV = <0>;	/* fixed volt supply - VBAT */
			ti,vddvibr-uV = <0>;	/* fixed volt supply - VBAT */
		};
	};
};

/include/ "twl6030.dtsi"

&i2c2 {
	clock-frequency = <400000>;

	/*
	 * Toshiba TC358765 DSI-to-LVDS chip driver
	 */
	tc358765@0f {
		compatible = "toshiba,tc358765";
		reg = <0x0f>;
	};
};

&i2c3 {
	clock-frequency = <400000>;

	/*
	 * Temperature Sensor
	 * http://www.ti.com/lit/ds/symlink/tmp105.pdf
	 */
	tmp105@48 {
		compatible = "ti,tmp105";
		reg = <0x48>;
	};
};

&i2c4 {
	clock-frequency = <400000>;

	/*
	 * BMP085 digital pressure sensor
	 */
	pressure@77 {
		compatible = "bosch,bmp085";
		reg = <0x77>;
	};
};

&mcspi1 {
	eth@0 {
		compatible = "ks8851";
		spi-max-frequency = <24000000>;
		reg = <0>;
		interrupt-parent = <&gpio2>;
		interrupts = <2>; /* gpio line 34 */
		vdd-supply = <&vdd_eth>;
	};
};

&mmc1 {
	vmmc-supply = <&vmmc>;
	bus-width = <8>;
};

&mmc2 {
	vmmc-supply = <&vaux1>;
	bus-width = <8>;
	ti,non-removable;
};

&mmc3 {
	status = "disabled";
};

&mmc4 {
	status = "disabled";
};

&mmc5 {
	bus-width = <4>;
	ti,non-removable;
};

&emif1 {
	cs1-used;
	device-handle = <&elpida_ECB240ABACN>;
};

&emif2 {
	cs1-used;
	device-handle = <&elpida_ECB240ABACN>;
};

&uart2 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart2_pins>;
};

&uart3 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart3_pins>;
};

&uart4 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart4_pins>;
};

&mcbsp3 {
	status = "disabled";
};

&twl_usb_comparator {
	usb-supply = <&vusb>;
};
